body{
    padding: 0;
    margin: 0;
}
.mycanvas{
    background-color: blueviolet;
    height: 400px;
    width: 400px;
    position:absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.ball{
    background-color: bisque;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position:relative;
    top:100px;
    left:220px;
    animation: bounce 0.9s infinite;
}

@keyframes bounce{
    10%{}
}