body{
    padding: 0;
    margin: 0;
}
.mycanvas{
    background-color: blueviolet;
    height: 400px;
    width: 400px;
    position:absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}